/* Layout
================================= */

body {
	padding-top: 70px;
	background-color: #6A5C18;
	margin-bottom: 60px;
}
.container {
	max-width: 1000px;
	
}

h3, h2 {
	font-weight: bold;
	color: black;
}
p {
	font-weight: bold;
	color: #1a1a1a;
	font-size: 16px;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0; 
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.vcenter {
    vertical-align: middle;
    float: none;
}